.search-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light);
  padding: 11px 19px 11px 13px;
  border-radius: var(--radius);
  float: right;

  input {
    flex: 1;
    margin-right: 6px;

    &::placeholder {
      color: var(--placeholder);
    }
  }
}
