.detail-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  button,
  a {
    margin-right: 20px;
  }

  .product-btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--placeholder);
  }
}
